.skills {
    background-color: #91b9b1;
    height: 730px;
    border-bottom: 10px solid #A68053;  
}

.skills .centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills .title {
    text-align: center;
    padding-top: 50px;
    color: #FFF;
    text-shadow: none;
}

.skills .subtitle {
    font-size: 25px;
    text-shadow: none;
    margin-bottom: 16px;
}
